a,
a:hover {
  text-decoration: none
}

#topbar,
.back-to-top {
  height: 40px;
  z-index: 996
}

.appointment-btn,
.back-to-top {
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .2)
}

#hero,
#preloader,
.navbar-mobile,
.services .icon,
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider,
section {
  overflow: hidden
}

.appointment-btn,
.navbar a,
.navbar a:focus {
  white-space: nowrap;
  font-size: 14px;
  transition: .3s
}

#hero .btn-get-started,
.counts .count-box a,
.counts .count-box p,
.navbar a,
.navbar a:focus,
body {
  font-family: Poppins, sans-serif
}

@font-face {
  font-family: 'Alta Light';
  src: url("../css/fonts/Alta_light.otf") format('opentype');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Alta Regular';
  src: url("../css/fonts/Alta_regular.otf") format('opentype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Alta Caption';
  src: url("../css/fonts/Alta_caption.otf") format('opentype');
  font-weight: 700;
  font-style: normal
}

body {
  color: #444
}

#hero h2,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alta Caption"
}

#footer .footer-top .footer-links ul a:hover,
#topbar,
.back-to-top i:focus,
.back-to-top i:hover,
.back-to-top:focus i,
.back-to-top:hover,
.back-to-top:hover i,
.counts .count-box a:hover,
.navbar .active,
.navbar .active:focus,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul li:hover>a,
.navbar a:hover,
.navbar li:hover>a,
.navbar-mobile .active,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul li:hover>a,
.navbar-mobile a:hover,
.navbar-mobile li:hover>a,
a {
  color: #000
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover,
.mobile-nav-toggle.bi-x,
a:hover {
  color: #fff
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #fff
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #000;
  border-top-color: #ecf8f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: 1s linear infinite animate-preloader
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, .9);
  width: 40px;
  border-radius: 10px;
  transition: .4s
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0
}

.back-to-top:hover {
  background: 0 0;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2)
}

.back-to-top.active {
  visibility: visible;
  opacity: 1
}

#topbar {
  background: #fff;
  opacity: .9;
  box-shadow: 0 1px rgba(0, 0, 0, .9);
  font-size: 14px;
  font-weight: 400;
  transition: .5s
}

#topbar.topbar-scrolled {
  top: -40px
}

#topbar i {
  padding-right: 6px;
  line-height: 0
}

#header {
  background: #fff;
  opacity: .85;
  transition: .5s;
  z-index: 997;
  padding: 20px 0;
  top: 40px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1)
}

#header.header-scrolled {
  top: 0
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase
}

#header .logo a {
  color: #555
}

#footer .logo img,
#header .logo img {
  max-height: 48px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
  border-radius: 50%
}

.appointment-btn {
  margin-left: 25px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px;
  display: inline-block;
  border: 1px solid #000
}

.appointment-btn:hover,
.contact .php-email-form button[type=submit]:hover {
  background: #fff;
  color: #000;
  border: 1px solid;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2)
}

.about .img,
.img-fluid {
  box-shadow: 2px 2px 2px rgba(201, 201, 201, .6)
}

@media (max-width:820px) {
  .appointment-btn {
    padding: 6px 15px;
    margin-right: 16px
  }
}

#navbar {
  opacity: 1
}

.navbar {
  padding: 0
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center
}

.navbar li {
  position: relative
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 30px;
  color: #828282;
  text-transform: uppercase;
  font-weight: 500
}

.navbar .dropdown ul,
.navbar-mobile ul {
  padding: 10px 0;
  position: absolute;
  border-radius: 10px
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px
}

.navbar .dropdown ul {
  display: block;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, .25);
  transition: .3s
}

.section-title h2::after,
.services .title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  left: calc(50% - 25px)
}

.navbar .dropdown ul li,
.navbar-mobile .dropdown ul li {
  min-width: 200px
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none
}

.navbar .dropdown ul a i,
.navbar-mobile .dropdown ul a i {
  font-size: 12px
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible
}

@media (max-width:1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%
  }
}

.mobile-nav-toggle {
  color: #555;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: .5s
}

@media (max-width:991px) {
  .mobile-nav-toggle {
    display: block
  }

  .navbar ul {
    display: none
  }
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #2c2c2c;
  transition: .3s;
  z-index: 999
}

#hero .carousel-item,
.zoom-image {
  background-size: cover;
  background-position: center
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px
}

.navbar-mobile ul {
  display: block;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background-color: #fff;
  overflow-y: auto;
  transition: .3s
}

.navbar-mobile li {
  margin: 18px
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #828282
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block
}

#hero {
  width: 100%;
  height: 115vh;
  background-color: #000;
  position: relative;
  filter: grayscale(100%) brightness(83%)
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0
}

#hero .carousel-item {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end
}

#hero .container {
  text-align: center;
  padding-bottom: 100px
}

@media (max-width:1200px) {
  #hero .container {
    margin-left: 50px;
    margin-right: 50px
  }
}

#hero h2,
h1 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 80px;
  font-weight: 700
}

#hero p {
  margin: 0 auto 10px;
  color: #fff
}

.espacada {
  word-spacing: 345px
}

.icon-spacing {
  margin-right: 8px
}

@keyframes zoom {
  0% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}

.zoom-image {
  animation: 8s forwards zoom
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top
}

#hero .carousel-inner .active.carousel-item-end,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .carousel-item {
  opacity: 0
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: .5s
}

#hero .carousel-inner .active.carousel-item-end,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev {
  left: 0;
  transform: translate3d(0, 0, 0)
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: 0 0;
  font-size: 30px;
  line-height: 0;
  border-radius: 10px;
  transition: .3s;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  background: rgba(255, 255, 255, .95);
  overflow: hidden;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: .3s
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #000
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 10px;
  transition: .5s;
  line-height: 1;
  color: #fff;
  background: #000;
  opacity: .85;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4)
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2)
}

@media (max-width:992px) {
  #header {
    padding: 15px 0
  }

  #hero {
    height: 100vh
  }

  #hero .container {
    margin-top: 100px
  }
}

@media (max-width:768px) {
  [data-aos-delay] {
    transition-delay: 0 !important
  }

  #hero h2,
  h1 {
    font-size: 32px
  }

  .espacada {
    word-spacing: 40px;
    font-size: 15px
  }
}

@media (min-width:1024px) {

  #hero .carousel-control-next,
  #hero .carousel-control-prev {
    width: 8%
  }
}

@media (max-height:500px) {
  #hero {
    height: 160vh
  }
}

@media (max-width:390px) and (max-height:844px) {
  #hero {
    height: 115vh
  }

  #hero h2,
  h1 {
    font-size: 20px
  }

  #hero .text {
    font-size: 15px
  }
}

section {
  padding: 60px 0
}

.section-bg {
  background-color: #faf4ed
}

.section-title {
  text-align: center;
  padding-bottom: 30px
}

.section-title h2 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative
}

.about .content ul,
.breadcrumbs ol {
  padding: 0;
  list-style: none
}

.section-title h2::after {
  display: block;
  height: 3px;
  background: #000
}

.about .content p:last-child,
.section-title p {
  margin-bottom: 0
}

.breadcrumbs {
  padding: 20px 0;
  background-color: #ecf8f9;
  min-height: 40px;
  margin-top: 120px
}

#footer,
.contact {
  background: rgba(223, 200, 173, .15)
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
  margin: 0
}

@media (max-width:992px) {
  .breadcrumbs {
    margin-top: 70px
  }

  .breadcrumbs h2 {
    margin: 0 0 10px
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: 14px
}

.breadcrumbs ol li+li {
  padding-left: 10px
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/"
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px
}

.about .content ul li {
  padding-bottom: 10px
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #000
}

.counts {
  padding-bottom: 30px
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, .1);
  padding: 30px;
  width: 100%
}

.counts .count-box i {
  display: block;
  font-size: 30px;
  color: #000;
  float: left
}

.counts .count-box span {
  font-size: 42px;
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #555;
  margin-left: 50px
}

.counts .count-box p {
  padding: 30px 0 0;
  margin: 0;
  font-size: 14px
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 15px;
  transition: .3s ease-in-out
}

.services .icon-box {
  margin-bottom: 20px;
  text-align: center
}

.services .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: .6s;
  color: #dfc8ad;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15)
}

.services .icon i {
  font-size: 36px;
  line-height: 0
}

.services .icon-box:hover .icon {
  box-shadow: 0 0 25px rgba(63, 187, 192, .3)
}

.services .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px
}

.services .title a {
  color: #444;
  transition: .3s
}

.services .title::after {
  display: block;
  height: 2px;
  background: #dfc8ad
}

.services .description {
  line-height: 24px;
  font-size: 24px
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 0 30px 30px 40px;
  margin: 30px 15px;
  min-height: 300px;
  box-shadow: 0 4px 6px rgba(44, 73, 100, .08);
  position: relative;
  background: linear-gradient(to left, rgba(250, 244, 237, .73), rgba(250, 244, 237, .93))
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 10px solid #fff
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 5px 48px;
  color: #111
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #111;
  margin: 0 0 0 45px;
  font-family: 'Alta Caption'
}

.testimonials .testimonial-item h4 a {
  font-size: 14px;
  color: #555;
  margin: 0
}

.testimonials .testimonial-item h4 a:hover {
  font-size: 14px;
  text-decoration: underline
}

@media (max-width:768px) {
  .breadcrumbs .d-flex {
    display: block !important
  }

  .breadcrumbs ol {
    display: block
  }

  .breadcrumbs ol li {
    display: inline-block
  }

  .testimonials .testimonial-item h4 a:hover {
    margin: 0
  }
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(171, 151, 135, .6);
  font-size: 25px
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px;
  padding: 40px 20px 50px;
  position: relative;
  z-index: 1;
  font-size: 15px;
  color: #111;
  line-height: 2.4;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #000
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000
}

.img-fluid {
  border-radius: 0
}

.contact {
  box-shadow: 0 0 3px rgba(50, 50, 50, .4)
}

.contact .container {
  background: 0 0;
  padding: 40px;
  border-radius: 10px
}

.contact .info-box {
  color: #000;
  text-align: center;
  padding: 20px 0 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(201, 201, 201, .4)
}

.contact .info-box i {
  font-size: 32px;
  color: #000;
  border-radius: 50%;
  padding: 8px;
  border: 2px dashed rgba(171, 151, 135, .6)
}

.contact .info-box h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin: 10px 0
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #000
}

.contact .php-email-form {
  padding: 25px;
  border-radius: 10px;
  color: #000;
  background: #fff;
  box-shadow: 0 0 5px rgba(201, 201, 201, .4)
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 10px;
  font-size: 13px;
  background: #fff;
  color: #000
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border: 1px solid #000;
  box-shadow: none
}

.contact .php-email-form button[type=submit] {
  margin-left: 25px;
  background: rgba(0, 0, 0, .9);
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: .3s;
  font-size: 13.66px;
  display: inline-block;
  border: 1px solid #000;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .2)
}

#cookie-banner {
  border-top: 1px solid #b6b6b6;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: #fff;
  color: #333;
  padding: 10px;
  z-index: 1000;
}

#cookie-banner p {
  margin: 12px;
  font-size: 14px;
}

#cookie-banner button {
  margin: 0 10px 15px 10px;
  font-size: 13px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 8px 25px;
  display: inline-block;
  border: 1px solid #000
}

#cookie-banner button:hover {
  background: #fff;
  color: #000;
  border: 1px solid;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2)
}


#cookie-banner button:focus {
  outline: none;
}

#footer {
  padding: 0 0 30px;
  color: #555;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(201, 201, 201, .2)
}

#footer .footer-top {
  padding: 60px 0 30px;
  box-shadow: 4px 0 4px rgba(0, 0, 0, .15);
  background: #fff
}

#footer .footer-top .footer-info,
#footer .footer-top .footer-links {
  margin-bottom: 30px
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px;
  padding: 2px 0;
  line-height: 1;
  font-weight: 700
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: Poppins, sans-serif
}

#footer .footer-top .social-links a {
  font-size: 19px;
  display: inline-block;
  color: #555;
  line-height: 1;
  padding: 7px 0;
  margin-right: 4px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  width: 35px;
  height: 35px
}

#footer .footer-top .social-links a:hover {
  background: 0 0;
  color: #ab9787
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000;
  font-size: 18px;
  line-height: 1
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0
}

#footer .footer-top .footer-links ul a {
  color: #555;
  transition: .3s;
  display: inline-block;
  line-height: 1
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 11px
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 11px
}